html,body{
	overflow-x: hidden;
	width: 100%;

}

.PresidentInitiative-png-bg {
    background-image: url(/static/media/presidentinitiativebgpng.6c0d529d.png);
    background-size: cover;
    background-position: bottom;
}

.PresidentInitiative-cont {
    background-image: -webkit-linear-gradient(left,#e6dada,#dfedf0);
    background-image: linear-gradient(90deg,#e6dada,#dfedf0);
}
.PresidentInitiative-png-bg {
    background-image: url(https://www.piaic.org/static/media/presidentinitiativebgpng.6c0d529d.png);
    background-size: cover;
    background-position: bottom;
}
@media (min-width: 576px){
	.pres-container {
		max-width: 540px;
	}
}
.pres-container {
    max-width: 1600px!important;
}
.pres-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.pres-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.PresidentInitiative-headings {
    padding-bottom: 50px;
    width: 85%;
}
@media (max-width: 799px) and (min-width: 400px){
	.PresidentInitiative-heading-h1 {
		font-size: 30px;
	}
}
.PresidentInitiative-heading-h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: #2b2929;
}
@media (max-width: 799px) and (min-width: 400px){
	.PresidentInitiative-heading-h2 {
		font-size: 20px;
	}
}
.PresidentInitiative-heading-h2 {
	font-size: 29px;
	font-weight: 150;
    text-align: left;
    color: #2b2929;
}
@media (max-width: 799px) and (min-width: 400px){
	.PresidentInitiative-heading-p {
		font-size: 10px;
	}
}
.PresidentInitiative-heading-p {
    font-size: 13px;
    font-weight: 200;
    text-align: left;
    color: #2b2929;
    min-height: 15vw;
    margin-top: 50px;
}
@media (max-width: 768px){
	.my-btn-div {
		top: 0!important;
	}
}
.my-btn-div {
    position: relative;
    top: 0px!important;
}
.president_png {
    width: 90%;
}
.PresidentInitiative-10k {
    max-height: 43px;
    margin-bottom: 9px;
    width: 90px;
}
.PresidentInitiative-10k {
    font-size: 35px;
    margin-top: -1px;
}
.PresidentInitiative-vr-line {
    display: inline-block;
    width: 2px;
    height: 45px;
    background-color: #192a56;
}
.PresidentInitiative-button-status:active, .PresidentInitiative-button-status:hover, .PresidentInitiative-button-status:visited {
    color: #fff;
}
.PresidentInitiative-button-apply {
    border: none;
    outline-style: none;
    margin-top: -7px;
    color: #fff;
    padding: 11px 44px;
    font-size: 12px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(right,#08d88d,#0eb5a3);
    background-image: linear-gradient(270deg,#08d88d,#0eb5a3);
}
@media (max-width: 768px){
	.my-btn-div {
		top: 0!important;
	}
}

.PresidentSays-heading {
    font-size: 42px;
    text-align: left;
    color: #fff;
    font-family: myfontBold;
    padding-bottom: 20px;
    padding-top: 50px;
}

.PresidentLaunchingWeb-video-col, .PresidentLaunchingWeb-video-desc-col, .PresidentLaunchingWeb-video-list-col {
    padding-left: 5px;
    padding-right: 5px;
}
@media (min-width: 992px){
	.order-lg-0 {
		order: 0;
	}
}
.PresidentSaysVideo-video-list-flexbox {
    width: 100%;
    display: flex;
    height: 100px;
}
.PresidentSays-video-list-image {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
}
.PresidentSays-video-list-content h4 {
    font-family: myfontRegular;
    font-size: 13px;
    text-align: left;
    color: #9becd7;
    margin: 0 0 4px;
    display: -webkit-box;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}
.PresidentSaysVideo-video-list-onVideo {
    color: #04c492!important;
    text-decoration: underline;
}
.PresidentSays-video-list-content {
    display: inline-block;
    width: 50%;
    padding-left: 1.5%;
}




@media (min-width: 992px)
.press{
	padding-left: 45px;
	padding-top: 15px;
	animation: slide_up 2s ease;
	display: flex;
}

@keyframes slide_up{
	0% {
		transform: translateY(250px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slide_right{
	0% {
		transform: translateX(250px);
	}
	100% {
		transform: translateX(0);
	}
}

.video-cont {
	position: relative;
	width: 1330px;
	height: 100px;
	margin: auto;
	line-height: 12vw;
}

.youtube{
	height: auto;
	width: auto;
}

.video-cont .video-box {
	position: relative;
	width: calc(420px - 30px);
	height: calc(430px - 30px);
	text-align: center;
	padding-left: 40px;
	float: left;
	bottom: 365%;
	left: 600px;
	background: grey;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	border-radius: 2px;
    animation-iteration-count: 1;
	animation-timing-function: ease-in;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	animation: fadeIn 4s;

}

.boxx{
	position: relative;
	color: black;
	text-align: center;
}

.top-right {
	position: absolute;
	top: 150px;
	right: 150px;
	animation: slide_right 2s ease;
}

.app {
	font-size: 25px;
	position: absolute;
	right: 38px;
}

.recived {
	font-size: 10px;
	top: 330px;
	position: absolute;
	right: 20px;
}

.init{
	font-size: 50px;
	padding-bottom: -9px;
}

.ini{
	font-size: 28px;
}

.in{
	font-size: 13px;
}

.avail-prog {
	font-size: 26px;
	letter-spacing: 12px;
	text-align: center;
	color: #807675;
	position: relative;
	padding: 1px;
	bottom: 20px;
	margin-top: -19px;
}
/*.container {
	position: relative;
	width: 1330px;
	height: 100px;
	margin: 60px auto;
	line-height: 12vw;
	object-fit: cover;
}*/
.container {
	width: 100%;
	height: auto;
	background: #FEFEFE;
	margin-top: -1.9%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

.container-r {
	position: relative;
	width: 1320px;
	height: 100px;
	margin: 40px;
	line-height: 12vw;
	object-fit: cover;
}

@media screen and (max-width: 1200px){
	.container {
		max-width: 0px;
        top: 10px;
        padding-right: 50px;
        display: flex;
	}
}

@media screen and (max-width: 1200px){
	.container-r {
		display: hidden;
		overflow-x: auto;
		left: 10px;
		height: auto;
	}
}
@media screen and (max-width: 1200px) {
	.scrollmenu {
		overflow-x: auto;
		white-space: nowrap;
	}

}


.container .box {
	width:260px;
	height: 150px;
	background: linear-gradient(
    to top, #fff 0%,  #fff 0%, #fff 75%, #192A56 75%
  );
	margin:20px ;
	box-sizing: border-box;
	font-size: 50px;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #D3D3D3 ;
	box-shadow: 2px 3px 10px 0 rgba(0,0,0,.16) ;
	transition: 0.5s;

}


.container .box:nth-child(2) {
  background: linear-gradient(
    to top, #fff 0%,  #fff 0%, #fff 75%, #E1006A 75%
  );
}

.container .box .content:nth-child(2) {
	color: #d0d7d2;
}

.container .box:nth-child(3) {
  background: linear-gradient(
    to top, #fff 0%,  #fff 0%, #fff 75%, #1b8f8b 75%
  );
}

.container .box:nth-child(4) {
  background: linear-gradient(
    to top, #fff 0%,  #fff 0%, #fff 75%, #fbc314 75%
  );
}
.container .box .content {
	font-size: 16px;
	color : #192a56;
	
    text-align: center;
	padding: 50px;
	
    margin-top: 0;
    margin-bottom: rem;
    transition: .3s;
    font-family: myfontRegular,sans-serif;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

.container.box .content:nth-child(1) {
	color: #a0a0a0;
}

.container.box .content:nth-child(4) {
}

::-webkit-scrollbar
{
	width: 12px
}

::-webkit-scrollbar-thumb
{
	background: linear-gradient(#A3A4A6, #3C3D39);
}


.line {
	width: 10%;
	background: #121212;
	border-radius: 5px;
	position: relative;
	right: 38%;
}
.head-2 {
	font-size: 27px;
	position: relative;
	left: 90px;
	color: #807675;
	letter-spacing: 4px;
}
.container-r .rect {
	position: relative;
	width: calc(270px - 40px);
	height: calc(175px - 40px);
	background-image: linear-gradient(to right, #a1aaaa, #7c8686, #5a6363, #394342, #1b2524);
	float: left;
	margin: 13px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 0px;
    animation-iteration-count: 1;
	animation-timing-function: ease-in;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	animation: fadeIn 4s;
}
.container-r .rect .g {
	font-size: 16px;
	letter-spacing: 6px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 25px;
}
.container-r .rect .ar {
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 20px;
}
.container-r .rect .ep {
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 20px;
}
.container-r .rect .mob {
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 10px;
}
.container-r .rect .ios {
	font-size: 16px;
	letter-spacing: 6px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 98px;
}

.container-r .rect .an {
	font-size: 16px;
	letter-spacing: 6px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 98px;
}

div.scrollmenu {
    overflow-x: auto;
    white-space: nowrap;
}
.vid-head {
	font-size: 37px;
	color: white;
	padding-left: 60px;
}
.youtube-sec {
	background: #2e2d2b;
}
.iframe-container {
	padding-left: 60px;
}
.pre-head {
	font-size: 24px;
	color: #55cf95;
}
.vid-para {
	font-size: 13px;
	color: white;
	position: relative;
	left: 100;
}
.img-sec {
	background: #00BF9A;
}
.img-head {
	font-size: 37px;
	letter-spacing: 2px;
	color: white;
	padding-left: 60px;
}
.launching {
	
}
.launch-h {
	padding-left: 700px;
	position: relative;
}
.partners {
	background: #c4c3be;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.str {
	font-size: 27px;
	letter-spacing: 5px;
	color: #192a56;
	padding-left: 30px;
}
.pana {
	width: 10%;

}
.syl {
	width: 10%;
}
.psx {
	width: 10%;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.contact {
	background: #202f39;
}

.navigation {
	left: 10px;
}
.n{
	color: white;
	font-size: 14px;
}

.abouts {
	font-size: 11px;
	color: grey;
}
.footer {
    padding: 50px 4% 10px;
    background-color: #202f39;
    color: #fff;
    text-align: left;
}
.footer-container {
    max-width: 1600px!important;
}
.footer-list-heads {
    font-size: 15px;
    color: #fff;
}
.footer-list-simple {
    padding-left: 0;
}
.footer ul li {
    cursor: pointer;
    list-style-type: none;
    font-family: myfontLight;
    font-size: 12px;
    color: hsla(0,0%,100%,.77);
    padding-bottom: 3px;
    letter-spacing: .3px;
}
.footer a {
    color: hsla(0,0%,100%,.77);
}
.footer-list-icon-ul {
    padding-left: 35px;
}
.footer ul li img {
    height: 20px;
    margin: 2px 15px 4px -35px;
}
.footer-list-contactus-icons {
    height: 20px;
    margin-right: 7px;
}