html,body{
	overflow-x: hidden;
	width: 100%;

}

.PresidentInitiative-png-bg {
    background-image: url(/static/media/presidentinitiativebgpng.6c0d529d.png);
    background-size: cover;
    background-position: bottom;
}
@media (min-width: 992px)
.press{
	padding-left: 45px;
	padding-top: 15px;
	animation: slide_up 2s ease;
	display: flex;
}

@keyframes slide_up{
	0% {
		transform: translateY(250px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slide_right{
	0% {
		transform: translateX(250px);
	}
	100% {
		transform: translateX(0);
	}
}

.video-cont {
	position: relative;
	width: 1330px;
	height: 100px;
	margin: auto;
	line-height: 12vw;
}

.youtube{
	height: auto;
	width: auto;
}

.video-cont .video-box {
	position: relative;
	width: calc(420px - 30px);
	height: calc(430px - 30px);
	text-align: center;
	padding-left: 40px;
	float: left;
	bottom: 365%;
	left: 600px;
	background: grey;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	border-radius: 2px;
    animation-iteration-count: 1;
	animation-timing-function: ease-in;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	animation: fadeIn 4s;

}

.boxx{
	position: relative;
	color: black;
	text-align: center;
}

.top-right {
	position: absolute;
	top: 150px;
	right: 150px;
	animation: slide_right 2s ease;
}

.app {
	font-size: 25px;
	position: absolute;
	right: 38px;
}

.recived {
	font-size: 10px;
	top: 330px;
	position: absolute;
	right: 20px;
}

.init{
	font-size: 50px;
	padding-bottom: -9px;
}

.ini{
	font-size: 28px;
}

.in{
	font-size: 13px;
}

.avail-prog {
	font-size: 26px;
	letter-spacing: 12px;
	text-align: center;
	color: #807675;
	position: relative;
	padding: 1px;
	bottom: -50px;
	margin-top: -126px;
}
.container {
	position: relative;
	width: 1330px;
	height: 100px;
	margin: 60px auto;
	line-height: 12vw;
	object-fit: cover;
}

.container-r {
	position: relative;
	width: 1320px;
	height: 100px;
	margin: 40px;
	line-height: 12vw;
	object-fit: cover;
}

@media screen and (max-width: 1200px){
	.container {
		width: 60%;
		left: 40px;
		margin-left: 60px
	}
}

@media screen and (max-width: 1200px){
	.container-r {
		display: hidden;
	}
}


.container .box {
	position: relative;
	width: calc(321px - 50px);
	height: calc(220px - 30px);
	text-align: center;
	padding-left: 35px;
	float: left;
	  background: linear-gradient(
    to top, #fff 0%,  #fff 0%, #fff 75%, #192a56 75%
  );
	margin: 13px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	border-radius: 7px;
    animation-iteration-count: 1;
	animation-timing-function: ease-in;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	animation: fadeIn 4s;

}

.container .box:nth-child(2) {
  background: linear-gradient(
    to top, #fff 0%,  #fff 0%, #fff 75%, #e1006a 75%
  );
}

.container .box:nth-child(3) {
  background: linear-gradient(
    to top, #fff 0%,  #fff 0%, #fff 75%, #fbc314 75%
  );
}

.container .box:nth-child(4) {
  background: linear-gradient(
    to top, #fff 0%,  #fff 0%, #fff 75%, #1b8f8b 75%
  );
}
.container .box .content {
	font-size: 12.5px;
	letter-spacing: 1px;
	text-align: center; 
	color: #a8a5a3;
	position: absolute;
	top: 10%;
}

.container.box .content:nth-child(1) {
	color: #b0adac;
}

.container.box .content:nth-child(4) {
}

::-webkit-scrollbar
{
	width: 12px
}

::-webkit-scrollbar-thumb
{
	background: linear-gradient(#A3A4A6, #3C3D39);
}


.line {
	width: 10%;
	background: #121212;
	border-radius: 5px;
	position: relative;
	right: 38%;
}
.head-2 {
	font-size: 27px;
	position: relative;
	left: 90px;
	color: #807675;
	letter-spacing: 4px;
}
.container-r .rect {
	position: relative;
	width: calc(270px - 40px);
	height: calc(175px - 40px);
	background-image: linear-gradient(to right, #a1aaaa, #7c8686, #5a6363, #394342, #1b2524);
	float: left;
	margin: 13px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 0px;
    animation-iteration-count: 1;
	animation-timing-function: ease-in;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	animation: fadeIn 4s;
}
.container-r .rect .g {
	font-size: 16px;
	letter-spacing: 6px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 25px;
}
.container-r .rect .ar {
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 20px;
}
.container-r .rect .ep {
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 20px;
}
.container-r .rect .mob {
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 10px;
}
.container-r .rect .ios {
	font-size: 16px;
	letter-spacing: 6px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 98px;
}

.container-r .rect .an {
	font-size: 16px;
	letter-spacing: 6px;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	padding-left: 98px;
}

div.scrollmenu {
    overflow-x: auto;
    white-space: nowrap;
}
.vid-head {
	font-size: 37px;
	color: white;
	padding-left: 60px;
}
.youtube-sec {
	background: #2e2d2b;
}
.iframe-container {
	padding-left: 60px;
}
.pre-head {
	font-size: 24px;
	color: #55cf95;
}
.vid-para {
	font-size: 13px;
	color: white;
	position: relative;
	left: 100;
}
.img-sec {
	background: #00BF9A;
}
.img-head {
	font-size: 37px;
	letter-spacing: 2px;
	color: white;
	padding-left: 60px;
}
.launching {
	
}
.launch-h {
	padding-left: 700px;
	position: relative;
}
.partners {
	background: #c4c3be;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.str {
	font-size: 27px;
	letter-spacing: 5px;
	color: #192a56;
	padding-left: 30px;
}
.pana {
	width: 10%;

}
.syl {
	width: 10%;
}
.psx {
	width: 10%;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.contact {
	background: #202f39;
}

.navigation {
	left: 10px;
}
.n{
	color: white;
	font-size: 14px;
}

.abouts {
	font-size: 11px;
	color: grey;
}
.footer {
    padding: 50px 4% 10px;
    background-color: #202f39;
    color: #fff;
    text-align: left;
}
.footer-container {
    max-width: 1600px!important;
}
.footer-list-heads {
    font-size: 15px;
    color: #fff;
}
.footer-list-simple {
    padding-left: 0;
}
.footer ul li {
    cursor: pointer;
    list-style-type: none;
    font-family: myfontLight;
    font-size: 12px;
    color: hsla(0,0%,100%,.77);
    padding-bottom: 3px;
    letter-spacing: .3px;
}
.footer a {
    color: hsla(0,0%,100%,.77);
}
.footer-list-icon-ul {
    padding-left: 35px;
}
.footer ul li img {
    height: 20px;
    margin: 2px 15px 4px -35px;
}
.footer-list-contactus-icons {
    height: 20px;
    margin-right: 7px;
}