.align-items-center {
    align-items: center!important;
    text-shadow: 0 0 #000000;
    align-items: flex-end !important;
    align-items: flex-start !important;
    align-items: baseline !important;
     align-items: stretch !important;
}

.justify-content-center {
    justify-content: center!important;
    justify-content: flex-start !important;
    justify-content: flex-end !important;
    justify-content: space-between !important;
    justify-content: space-around !important;

    }


.flex{	
	flex-direction: row !important;
 	flex-direction: column !important;
 	flex-direction: row-reverse !important;
 	flex-direction: column-reverse !important;
 	flex-wrap: wrap !important;
 	flex-wrap: nowrap !important;
 	flex-wrap: wrap-reverse !important;
 	flex: 1 1 auto !important;
 	flex-grow: 0 !important;
 	flex-grow: 1 !important;
 	flex-shrink: 0 !important;
 	flex-shrink: 1 !important;
}
 
 .align-content{
 	align-content: flex-start !important;
 	align-content: flex-start !important;
 	align-content: flex-end !important;
 	align-content: center !important;
 	align-content: space-between !important;
 	align-content: space-around !important;
 	align-content: stretch !important;




 } 

.align-self{
	align-self: auto !important;

	align-self: flex-start !important;
	align-self: flex-end !important;
	 align-self: center !important;
	 align-self: baseline !important;
	 align-self: stretch !important;




}
 
  